<h1>Ready to Make a Difference?</h1>

<div class="container">
{{#each jobs as |job index|}}
<h3>
  <a href="/ jobs/{{job.name}}">{{job.name}} -- {{job.description}}</a>
</h3>
{{/each}}
</div>

<div class="container">
    <h3>Add New Opportunity</h3>
      <form name= 'job' action="/jobs/{{job.name}}" method="post">
        <div class="input-field">
          <label for="job-name">Title</label>
          <input class='validate' type="text" name="job[name]"  id="job-name">
        </div>
        <div class="input-field">
          <label for="job-description">Description</label>
          <input class='validate' type="text" name="job[description]" id="job-description">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
      </form>
</div>
