<h2>Signup</h2>
<!-- {{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}} -->
<form method="post" action="/signup">
  <div class="input-field">
    <label for="email">Email</label>
    <input class="validate" type="text" name="email" id="email">
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input class="validate" type="password" name="password" id="password">
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
</form>
