html {
	color: #37474f;
	font-family: 'Varela Round', 'Roboto', sans-serif;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.brand-logo {
	font-family: 'Baloo Paaji', 'Roboto', cursive;
}

form .brand-logo {
	font-size: 52px !important;
}
nav .brand-logo {
	font-size: 46px !important;
	padding-left: 10px !important;
}

#toast-container {
	bottom: auto !important;
	right: auto !important;
	left: 50%;
	top: 20%;
}

.index-quote {
	padding: 0 !important;
}

#job-map {
	width: 50%;
	height: 200px;
	background-color: grey;
}

.profile-photo {
	width: 200px;
	height: 200px;
}

.profile-avatar {
	margin: 0 10px;
	height: 30px;
	width: 30px;
}
